{
  "plugins": [
    ["@babel/plugin-proposal-optional-chaining"],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@site-config": "./src/config",
          "@hooks": "./src/hooks",
          "@fixtures": "./test/__fixtures__"
        }
      }
    ]
  ],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ]
}
