{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
  },
  "rules": {
    "no-unused-expressions": "off",
    "react/no-array-index-key": "off",
    "react/require-default-props": "off"
  }
}
