/* TODO: use SASS here */
@layer utilities {
  .borders {
    outline: none;
    @apply border border-black hover:border-yellow focus:border-yellow active:border-yellow;
  }

  /* 
  animations inspired by 
  https://codepen.io/giana/pen/yYBpVY 
*/
  /* TODO: convert to tailwind */
  .animate-borders {
    position: relative;
    vertical-align: middle;
    outline: 0;
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
  }

  .animate-borders:before,
  .animate-borders:after {
    content: "";
    box-sizing: inherit;
    position: absolute;
    border: 3px solid transparent;
    width: 0;
    height: 0;
    transition: opacity 200ms ease-in-out;
  }

  .animate-borders:hover::before,
  .animate-borders:active::before,
  .animate-borders:focus::before {
    @apply border-t-sky-blue border-r-sky-blue;
    top: 0;
    left: 0;
    transition: width 0.25s ease-out,
      /*/ Width expands first*/ height 0.25s ease-out 0.25s; /*/ And then height*/
  }

  .animate-borders:hover::after,
  .animate-borders:active::after,
  .animate-borders:focus::after {
    @apply border-b-sky-blue border-l-sky-blue;
    bottom: 0;
    right: 0;
    transition: border-color 0s ease-out 0.5s,
      /* Wait for ::before to finish before showing border*/ width 0.25s
        ease-out 0.5s,
      /* And then expanding width*/ height 0.25s ease-out 0.75s; /*And finally height*/
  }

  .animate-borders:hover::after,
  .animate-borders:active::after,
  .animate-borders:focus::after,
  .animate-borders:hover::before,
  .animate-borders:active::before,
  .animate-borders:focus::before {
    width: 100%;
    height: 100%;
  }
}
