@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
	Self Hosted Fonts
	*/

  @font-face {
    font-family: "OpenDyslexic";
    font-weight: 400;
    src: url("/fonts/open-dyslexic/OpenDyslexic-Regular.otf") format("opentype");
  }

  @font-face {
    font-family: "OpenDyslexic";
    font-weight: 400;
    font-style: italic;
    src: url("/fonts/open-dyslexic/OpenDyslexic-Italic.otf") format("opentype");
  }
  @font-face {
    font-family: "OpenDyslexic";
    font-weight: 700;
    src: url("/fonts/open-dyslexic/OpenDyslexic-Bold.otf") format("opentype");
  }

  @font-face {
    font-family: "OpenDyslexic";
    font-weight: 700;
    font-style: italic;
    src: url("/fonts/open-dyslexic/OpenDyslexic-BoldItalic.otf") format("opentype");
  }

  html,
  #root,
  #docs-root {
    box-sizing: border-box;
  }

  body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    @apply text-white;
  }

  a {
    @apply rounded-sm mx-1 focus:outline focus:outline-white focus:outline-offset-8 focus:outline-1;
  }

  .inherit {
    display: inherit;
  }
  .scroll-snap-container {
    scroll-padding-top: 10vh;
    scroll-snap-points-y: repeat(90vh);
  }
  .scroll-snap-mandatory {
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
  }
  .scroll-snap-proximity {
    scroll-snap-type: proximity;
    scroll-snap-type: y proximity;
  }

  .dyslexia {
    font-family: "OpenDyslexic", sans-serif !important;
  }

  .markdown p {
    margin-bottom: 1em;
  }

  .markdown h1 {
    @apply text-3xl;
    @apply font-bold;
  }

  .markdown h2 {
    @apply text-2xl;
    @apply font-bold;
  }
  .markdown h4 {
    @apply text-xl;
  }

  .markdown ul {
    list-style-type: disc;
  }
  .markdown ol {
    list-style-type: decimal;
    margin-left: 2em;
  }

  .markdown li {
    margin-bottom: 1em;
  }
  /* TODO: add this to tailwind */
  .bg-semi-transparent {
    background-color: rgba(23, 23, 23, 0.7);
  }

  .animate-button-borders:before,
  .animate-button-borders:after {
    transition: opacity 200ms ease-in-out;
  }

  .animate-button-borders:hover::before,
  .animate-button-borders:active::before,
  .animate-button-borders:focus::before {
    transition: width 150ms cubic-bezier(0.07, 0.62, 0.61, 1),
      height 75ms 150ms cubic-bezier(0.07, 0.62, 0.61, 1);
  }

  .animate-button-borders:hover::after,
  .animate-button-borders:active::after,
  .animate-button-borders:focus::after {
    transition: width 150ms 225ms cubic-bezier(0.07, 0.62, 0.61, 1),
      height 75ms 450ms cubic-bezier(0.07, 0.62, 0.61, 1), border-left 0ms 225ms linear;
  }

  .responsive-container {
    @apply max-w-md md:max-w-3xl lg:max-w-4xl xl:max-w-5xl mx-auto;
  }
}

:root {
  --pure-white: #ffffff;
  --primary-color: #b9c6d2;
  --secondary-color: #d0dde9;
  --tertiary-color: #edf0f8;
  --accent-color: #ff3e00;
  --heading-color: rgba(0, 0, 0, 0.7);
  --text-color: #444444;
  --background-without-opacity: rgba(255, 255, 255, 0.7);
  --column-width: 42rem;
  --column-margin-top: 4rem;
}
