@import "@fontsource/fira-mono";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
	Self Hosted Fonts
	*/
  @font-face {
    font-family: "Manrope";
    font-weight: 200;
    src: url("/src/fonts/Manrope-ExtraLight.woff2") format("woff2");
  }
  @font-face {
    font-family: "Manrope";
    font-weight: 300;
    src: url("/src/fonts/Manrope-Light.woff2") format("woff2");
  }
  @font-face {
    font-family: "Manrope";
    font-weight: 400;
    src: url("/src/fonts/Manrope-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Manrope";
    font-weight: 500;
    src: url("/src/fonts/Manrope-Medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "Manrope";
    font-weight: 600;
    src: url("/src/fonts/Manrope-SemiBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Manrope";
    font-weight: 700;
    src: url("/src/fonts/Manrope-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Manrope";
    font-weight: 800;
    src: url("/src/fonts/Manrope-ExtraBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 100;
    src: url("/src/fonts/Poppins-Thin.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 100;
    font-style: italic;
    src: url("/src/fonts/Poppins-ThinItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 200;
    src: url("/src/fonts/Poppins-ExtraLight.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 200;
    font-style: italic;
    src: url("/src/fonts/Poppins-ExtraLightItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 300;
    src: url("/src/fonts/Poppins-Light.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 300;
    font-style: italic;
    src: url("/src/fonts/Poppins-LightItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("/src/fonts/Poppins-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: url("/src/fonts/Poppins-Medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-style: italic;
    src: url("/src/fonts/Poppins-MediumItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 600;
    src: url("/src/fonts/Poppins-SemiBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 600;
    font-style: italic;
    src: url("/src/fonts/Poppins-SemiBoldItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: url("/src/fonts/Poppins-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 700;
    font-style: italic;
    src: url("/src/fonts/Poppins-BoldItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 800;
    src: url("/src/fonts/Poppins-ExtraBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 800;
    font-style: italic;
    src: url("/src/fonts/Poppins-ExtraBoldItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 900;
    src: url("/src/fonts/Poppins-Black.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 900;
    font-style: italic;
    src: url("/src/fonts/Poppins-BlackItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "ShareTechMono";
    src: url("/src/fonts/ShareTechMono-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Newsreader";
    font-weight: 200;
    src: url("/src/fonts/Newsreader-ExtraLight.woff2") format("woff2");
  }
  @font-face {
    font-family: "Newsreader";
    font-weight: 200;
    font-style: italic;
    src: url("/src/fonts/Newsreader-ExtraLightItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Newsreader";
    font-weight: 300;
    src: url("/src/fonts/Newsreader-Light.woff2") format("woff2");
  }
  @font-face {
    font-family: "Newsreader";
    font-weight: 300;
    font-style: italic;
    src: url("/src/fonts/Newsreader-LightItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Newsreader";
    font-weight: 400;
    src: url("/src/fonts/Newsreader-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Newsreader";
    font-weight: 400;
    font-style: italic;
    src: url("/src/fonts/Newsreader-RegularItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Newsreader";
    font-weight: 500;
    src: url("/src/fonts/Newsreader-Medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "Newsreader";
    font-weight: 500;
    font-style: italic;
    src: url("/src/fonts/Newsreader-MediumItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Newsreader";
    font-weight: 600;
    src: url("/src/fonts/Newsreader-SemiBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Newsreader";
    font-weight: 600;
    font-style: italic;
    src: url("/src/fonts/Newsreader-SemiBoldItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Newsreader";
    font-weight: 700;
    src: url("/src/fonts/Newsreader-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Newsreader";
    font-weight: 700;
    font-style: italic;
    src: url("/src/fonts/Newsreader-BoldItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Newsreader";
    font-weight: 800;
    src: url("/src/fonts/Newsreader-ExtraBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Newsreader";
    font-weight: 800;
    font-style: italic;
    src: url("/src/fonts/Newsreader-ExtraBoldItalic.woff2") format("woff2");
  }

  body {
    font-size: 16px;
    @apply text-white;
    /* @apply font-manrope; */
    font-family: "Montserrat", sans-serif;
  }

  .markdown p {
    margin-bottom: 1em;
  }

  .markdown h1 {
    @apply text-3xl;
    @apply font-bold;
  }
  
  .markdown h2 {
    @apply text-2xl;
    @apply font-bold;
  }
  .markdown h4 {
    @apply text-xl;
  }
  
  .markdown ul{ 
    list-style-type: disc;
  }
  .markdown ol { 
    list-style-type: decimal;
    margin-left: 2em;
  }

  .markdown li {
    margin-bottom: 1em;
  }
}

:root {
  --pure-white: #ffffff;
  --primary-color: #b9c6d2;
  --secondary-color: #d0dde9;
  --tertiary-color: #edf0f8;
  --accent-color: #ff3e00;
  --heading-color: rgba(0, 0, 0, 0.7);
  --text-color: #444444;
  --background-without-opacity: rgba(255, 255, 255, 0.7);
  --column-width: 42rem;
  --column-margin-top: 4rem;
}