@import "@fontsource/fira-mono";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
	Self Hosted Fonts
	*/
  @font-face {
    font-family: "Manrope";
    font-weight: 200;
    src: url("/static/fonts/Manrope-ExtraLight.woff2") format("woff2");
  }
  @font-face {
    font-family: "Manrope";
    font-weight: 300;
    src: url("/static/fonts/Manrope-Light.woff2") format("woff2");
  }
  @font-face {
    font-family: "Manrope";
    font-weight: 400;
    src: url("/static/fonts/Manrope-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Manrope";
    font-weight: 500;
    src: url("/static/fonts/Manrope-Medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "Manrope";
    font-weight: 600;
    src: url("/static/fonts/Manrope-SemiBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Manrope";
    font-weight: 700;
    src: url("/static/fonts/Manrope-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Manrope";
    font-weight: 800;
    src: url("/static/fonts/Manrope-ExtraBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 100;
    src: url("/static/fonts/Poppins-Thin.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 100;
    font-style: italic;
    src: url("/static/fonts/Poppins-ThinItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 200;
    src: url("/static/fonts/Poppins-ExtraLight.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 200;
    font-style: italic;
    src: url("/static/fonts/Poppins-ExtraLightItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 300;
    src: url("/static/fonts/Poppins-Light.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 300;
    font-style: italic;
    src: url("/static/fonts/Poppins-LightItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("/static/fonts/Poppins-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: italic;
    src: url("/static/fonts/Poppins-RegularItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: url("/static/fonts/Poppins-Medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-style: italic;
    src: url("/static/fonts/Poppins-MediumItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 600;
    src: url("/static/fonts/Poppins-SemiBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 600;
    font-style: italic;
    src: url("/static/fonts/Poppins-SemiBoldItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: url("/static/fonts/Poppins-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 700;
    font-style: italic;
    src: url("/static/fonts/Poppins-BoldItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 800;
    src: url("/static/fonts/Poppins-ExtraBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 800;
    font-style: italic;
    src: url("/static/fonts/Poppins-ExtraBoldItalic.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 900;
    src: url("/static/fonts/Poppins-Black.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 900;
    font-style: italic;
    src: url("/static/fonts/Poppins-BlackItalic.woff2") format("woff2");
  }

  /*
	Headings
	*/
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  body {
    font-size: 16px;
    @apply text-white;
    @apply font-poppins;
  }
}

:root {
  --pure-white: #ffffff;
  --primary-color: #b9c6d2;
  --secondary-color: #d0dde9;
  --tertiary-color: #edf0f8;
  --accent-color: #ff3e00;
  --heading-color: rgba(0, 0, 0, 0.7);
  --text-color: #444444;
  --background-without-opacity: rgba(255, 255, 255, 0.7);
  --column-width: 42rem;
  --column-margin-top: 4rem;
}
