.title {
    &:before {
        content: '';
        width: 40px;
        height: 40px;
        background: url(${triangle});
        position: absolute;
        background-size: 40px;
        ${rotateAnimation('4s')};
        left: -60px;
        top: 5px;
}